
        <div class="chat-input-box">
          <div class="input-group">
            <%# binding.pry %>
            <%= form_for [conversation, Message.new], remote: true do |f| %>
              <%= f.hidden_field :recipient_id, :value => recipient%>
              <%= f.hidden_field :sender_id, :value => current_user.id%>
              <%= f.hidden_field :conversation_id, :value => conversation.id %>

              <%= f.text_field :content, placeholder: 'Type your message', class: 'text form-control'%>
<!--             <input type="text" class="form-control" placeholder="Type your message"> -->

            <span class="input-group-btn">
              <%= f.submit 'Send Message', class: 'btn btn-lblue'%>
              <% end %>
              <!-- <button class="btn btn-lblue" type="button">Send</button> -->
            </span>
          </div>
        </div>
