
<div class="chat-partial">
        
          <!-- Chat box -->
        <%# binding.pry %>

        <% messages.each do |message| %>

          <% if current_user.id == message.sender.id %>
          <div class="chat-box chat-in">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="http://www.metacam.co.uk/images/cat_thumbnail.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><%= message.sender.name %></h5>
              <p><%= message.content %></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <% else %>
          <div class="chat-box chat-out">
            <!-- image -->
            <div class="img-container">
              <img class="img-responsive" src="http://www.ugodog.net/blog/wp-content/uploads/2008/08/golden-retriever-dog.thumbnail.jpg" alt="" />
            </div>
            <div class="message">
              <!-- Name -->
              <h5><%= message.sender.name %></h5>
              <p><%= message.content %></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <%end%>
          <%end%>
</div>
<%# binding.pry %>
        <!-- Chatting message input box -->
<%= render 'messages/form', recipient: recipient, conversation: conversation  %>
<%#= j render partial: 'form', locals: {recipient: recipient, conversation: conversation } %>