<%#binding.pry %>
<%current_user.conversations.each do |conversation|%>
<% if current_user.id == conversation.user1_id %>
<ul>
<%#binding.pry%>
<li><%= User.find(conversation.user2_id).name %></li>
<li>For Item <%= conversation.item.name %></li>
<li><%= link_to 'See conversation', conversation_messages_path(conversation) %></li>
</ul>
<%end%> 
<%end%> 

<%current_user.conversations.each do |conversation|%>
<% if current_user.id == conversation.user2_id %>
<ul>
<li><%= User.find(conversation.user1_id).name %></li>
<li>For Item <%= conversation.item.name %></li>
<li><%= link_to 'See conversation', conversation_messages_path(conversation) %></li>
</ul>
<%end%> 
<%end%> 



