<form class="form">
<div class= "contact form">
<div class = "center">
<div class="form-group">
<%= form_for Conversation.new do |f| %>
<% if @user1 == current_user %>
  Seller: <%= @user2.name%><br>
  Buyer: <%= current_user.name %><br>
<% else %>
  <h2>Seller: <%= current_user.name %></h2><br>
  <h2>Buyer: <%= @user1.name %></h2><br>
<% end %>

  Message for item: <%= @item.name %><br />
<%#binding.pry%>
  <%= f.hidden_field :item_id, :value => @item.id%>
  <% if @user1 == current_user %>

  <%= f.hidden_field :user2_id, :value => @item.seller.id%>
  <%= f.hidden_field :user1_id, :value => current_user.id%>
  <% else %>
  <%= f.hidden_field :user1_id, :value => @item.seller.id%>
  <%= f.hidden_field :user2_id, :value => current_user.id%>
  <% end %>

  <%= f.fields_for :messages do |message_form| %>
  
  <%= message_form.text_area :content, :rows => "5", placeholder: 'Write your message here', class: 'form-control' %><br />
  <% end %>
  <%= f.submit 'Send Message', class: 'btn btn-default'%>
<% end %>
</div>
</div>
</div>
</form>

            