<h1> Update your profile </h1>
<%= form_for @user, :html => {:multipart => true} do |f| %>

  <%= f.label :avatar, class: 'control-label'%>  
  <%= f.file_field :avatar, class: 'form_field' %>

  <%= f.label :delete_avatar%>
  <%= f.check_box(:delete_avatar)%><br>

  <%= f.label :name %>:
  <%= f.text_field :name, class: 'form-control', :placeholder => @user.name %><br />

  <%= f.label :email %>:
  <%= f.text_field :email, class: 'form-control', :placeholder => @user.email %><br />

  <%= f.label :old_password, class: 'control-lael'%>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :new_password, class: 'control-lael'%>
  <%= f.password_field :new_password, class: 'form-control' %>
  <%= f.label :new_password_confirmation, class: 'control-lael'%>
  <%= f.password_field :new_password_confirmation, class: 'form-control' %>

  <%= f.submit "Save Changes", class: "btn btn-primary" %>
<% end %>