
<h2><%= @user.name %></h2>
<%= image_tag @user.avatar.url(:medium) %><br><br>
<% if (current_user.id == @user.id)%>
<%= button_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary', method: 'get' %><br>
<%end%>

<% unless @user.has_venmo? %>
  <%= link_to 'Log in with Venmo', 'https://api.venmo.com/v1/oauth/authorize?client_id=CLIENT_ID&scope=make_payments%20access_profile'%>
<% end %>

<% if @user.items %>
<h2> Items for sale </h2>
<%end%>
<ul style="list-style-type: none">
<% @user.items.each do |item|%>
<%= render partial: 'items/user_item', locals: {item: item} %>
<%end%>
</ul>
