 <% item.offers.select do |offer|%>

 <tr  id="item<%=offer.id%>">
  <td id="item_name">
    <%= link_to item.name, offer_path(offer)%> 
  </td>
  <td id="buyer_name">
    <%= offer.buyer.name %>
  </td>
  <td id="offer_price">
    $<%= offer.offer_price %>
  </td>
  <td id="comment">
    <%= offer.comment %>
  </td>
  <td id="time">
    <%= time_ago_in_words(offer.created_at) %>
  </td>
  <td id="status">
    <%= offer.status.upcase %>
  </td>
  <% if !(offer.status == 'accepted' || offer.status == 'rejected')%>
  <td><%= link_to("ACCEPT", offer_confirm_path(offer) , class: "accept-button btn btn-success btn-xs", id: "accept-#{offer.id}") %></td>
  <td><a href="/offers/<%= offer.id %>/rejected" class="reject-button btn btn-danger btn-xs" id="reject-<%=offer.id%>">REJECT</a></td>
  <% elsif offer.status == "rejected" && offer.item.available? %>
  <% if offer.item.conversation_exist?(current_user)%>
    <% conversation_id = offer.item.convo_id(current_user)%>
     <td><%= link_to "Contact Seller", conversations_path()  %><td></td>
  <% else %>
    <td><%= link_to "Contact Seller", new_conversation_path({item_id: offer.item.id, user1_id: offer.buyer.id, user2_id: offer.seller.id})  %><td></td>
  <% end %>


  


  <% else %>
  <td></td>
  <td></td>
  <% end %>
</tr>
<% end %>

