
    <tr  id="item<%=offer.id%>">
      <td>
        <%= link_to item.name, offer_path(offer)%> 
      </td>
      <td>
        <%= offer.buyer.name %>
      </td>
      <td>
        $<%= offer.offer_price %>
      </td>
      <td>
        <%= offer.comment %>
      </td>
      <td>
        <%= time_ago_in_words(offer.updated_at) %>
      </td>
      <td>
        <%= offer.status.upcase %>
      </td>
      <% if offer.status == 'accepted' || offer.status == 'rejected'%>
      <% else %>
        <td><a href="#" class="accept-button btn btn-success btn-xs" id="accept-<%=offer.id%>">ACCEPT</a></td>
        <td><a href="#" class="reject-button btn btn-danger btn-xs" id="reject-<%=offer.id%>">REJECT</a></td>
      <% end %>
    </tr>

