<h1>Create an Offer for <%= @item.name %></h1>
<p><%= form_for(Offer.new) do |f|%></p>
  <%= f.label :offer_price %>
  <p><%= f.number_field :offer_price, :value => "#{@item.price}", :step => 0.01 %></p>
  <%= f.label :comment %>
  <p><%= f.text_area :comment %></p>
  <%= f.hidden_field(:buyer_id, value: "#{current_user.id}") %>
  <%= f.hidden_field(:item_id, value: "#{@item.id}") %>
  <%= f.collection_check_boxes :payment_option_ids, PaymentOption.all, :id, :name %>
  <p>(If no payment option selected, cash will be the default.)</p>
  <%= f.submit 'Submit Offer', class: "btn btn-primary" %>
<% end %>