<h2> Pending Offers Sent</h2>
  <% Offer.all.select{ |offer| offer.buyer == current_user && offer.status == 'pending'}.each do |offer| %>
      <ul>
        <li>Offer To: <%= offer.seller.name %></li>
        <li>For Item: <%= offer.item.name %></li>
        <li>Selling Price: <%= offer.item.price %></li>
        <li>Your Offer Price: <%= offer.offer_price %></li>
        <li>Comments: <%= offer.comment if offer.comment %></li>
        <li>Offer Sent At: <%= time_ago_in_words(offer.updated_at) %></li>
      </ul>
  <%end%>

<h2>Accepted Offers Sent</h2>
  <% Offer.all.select{ |offer| offer.buyer == current_user && offer.status == 'accepted'}.each do |offer| %>
      <ul>
        <li>Offer To: <%= offer.seller.name %></li>
        <li>For Item: <%= offer.item.name %></li>
        <li>Selling Price: <%= offer.item.price %></li>
        <li>Your Offer Price: <%= offer.offer_price %></li>
        <li>Comments: <%= offer.comment if offer.comment %></li>
        <li>Offer Sent At: <%= time_ago_in_words(offer.updated_at) %></li>
      </ul>
  <%end%>


<h2>Rejected Offers Sent</h2>
  <% Offer.all.select{ |offer| offer.buyer == current_user && offer.status == 'rejected'}.each do |offer| %>
      <ul>
        <li>Offer To: <%= offer.seller.name %></li>
        <li>For Item: <%= offer.item.name %></li>
        <li>Selling Price: <%= offer.item.price %></li>
        <li>Your Offer Price: <%= offer.offer_price %></li>
        <li>Comments: <%= offer.comment if offer.comment %></li>
        <li>Offer Sent At: <%= time_ago_in_words(offer.updated_at) %></li>
      </ul>
  <%end%>

