<div class="col-md-4 col-sm-6 itembox" id="<%=item.price%>" data-price="<%= item.prop %>">
  <!-- Shopping items -->
  <div class="shopping-item">
    <!-- Image -->
    <a href="<%= user_item_path(item.seller, :id => item.id) %>"><%= image_tag item.product.url(:medium), :class => "img-responsive"%></a>
    <!-- Shopping item name / Heading -->
    <h4><%= link_to(item.name, user_item_path(item.seller, :id => item.id))%>
      <span class="color pull-right">$<%= format("%.2f", item.price) %></span>
    </h4>
    <div class="clearfix"></div>
    <!-- Shopping item hover block & link -->
    <div class="item-hover bg-color hidden-xs">
      <%= link_to "Make Offer", new_offer_path({user: item.seller_id, item: item.id}) %>
    </div>
  </div>
</div>