<div class="page-heading-two">
  <div class="container">
    <h2>Sell an Item <span></span></h2>
    <div class="clearfix"></div>
  </div>
</div>
<div class="container">
    <div class="components">
        <div class="col-md-5 col-md-push-1 col-sm-push-1">
            <%= form_for([current_user, Item.new]) do |f| %>
            <%= f.hidden_field :seller_id, :value => current_user.id %>
            <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name %>
            </div>
            <div class="form-group">
                <%= f.label :price %>
                <%= f.number_field :price, :step => 0.01 %>
            </div>

            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
            </div>
            <div class="form-group">
                <%= f.label :condition %>
                <%= f.select :condition,['New','Excellent','Good','Acceptable'], :class => 'form-control', :prompt => 'Select One'%>
            </div>
            <%= f.submit 'Add Item', :class => 'btn btn-info'%>
            
            <br>
            <br>
        </div>
        <div class="col-md-5 col-md-push-1 col-sm-push-1">
            <div class="upload-preview">
                <%=image_tag 'placeholder-product.gif'%>
            </div>
            <div class="form-group">
                <%= f.label :product, "Item Preview" %>
                <%= f.file_field :product, class: 'file'%>
            </div>
        </div>
        <% end %>
    </div>
</div>
<br><br><br>


