
<div class="panel panel-info">
<!-- <div class= "panel-heading"> -->
<div class="panel-heading">
  <h1>Sell an Item</h1>
</div>
  <div class= "panel-body">

    <%= form_for([current_user, Item.new]) do |item_form| %>
<div class="form-group">
        <%= item_form.label :name %>
        <%= item_form.text_field :name %>
</div>
<div class="form-group">
        <%= item_form.label :price %>
        <%= item_form.number_field :price %>
</div>
<div class="form-group">
        <%= item_form.label :product %>
        <%= item_form.file_field :product %>
</div>
<div class = "check_box">
        <%= item_form.label :delete_product%>
        <%= item_form.check_box(:delete_product)%><br>
</div>

        <%= item_form.label :description %>
        <%= item_form.text_area :description, class: 'form-control' %>
<div class = "form-group">
Condition
<select class="form-control"> 
  <option>New</option>
  <option>Excellent</option>
  <option>Good</option>
  <option>Acceptable</option>
  <option disabled="disabled">restricted</option>
</select>   
</div>  
        <%#= item_form.label :condition %>
        <%#= item_form.text_field :condition, class: 'form-control' %>
</select>


        <%= item_form.submit 'Add Item', :class => 'btn btn-info'%>

    <% end %>
</div>
</div>
    <div>UPLOAD PHOTOS HERE??????</div>

    <div>SELECT CATEGOR{Y/IES} HERE</div>
