<div class="main-block">
  <div class="page-heading-two">
    <div class="container">
      <h2>Search Results <span><%= @keyword %></span></h2>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="container">
    <div class="ecommerce">
      <div class="row">
        <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
          <div class="shopping-content">
            <div class="row">

              <% if @results.size > 0 %>


              <% @results.each do |item| %>
              <%= render partial: 'items/community_item', locals: {item: item} %>
              <% end %>



              <% else %>
              <h4>No results found</h4>
              <% end %>
            </div>
          </div>
        </div><!-- PUSH-4 -->
        <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">
          <div class="sidebar">
            <h2>Navigation</h2>
            <ul class="account-nav">
              <li><%= link_to  "Your Community", root_path %></li>
              <li><%= link_to "Edit Account", edit_user_path(current_user)%></li>
              <li><%= link_to "Manage Items", user_items_path(current_user)%></li>
            </ul>
          </div>
        </div> <!--PULL-8-->
      </div>
    </div>
  </div>
</div>

