<div align = 'right' style= 'margin-right: 2%;'>
<% if (current_user.id == @item.seller_id)%>
<%= link_to 'Edit Item', edit_user_item_path(current_user, @item), class: 'btn btn-info'%>
<%end%>
</div>
<div class="container">
  <div class="ecommerce">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-md-push-3 col-sm-push-4">
        <div class="shoppoing-content">
          <div class="shopping-single">
            <div class="col-md-4 col-sm-6">
              <%= image_tag @item.product.url(:medium) %>
            </div>
            <div class="col-md-6 col-sm-4 col-md-push-1 col-sm-push-1">
              <h4><%= @item.name %></h4>
              <p><%= @item.description %></p>
              <div class="table-responsive">
                <table class="table table-bordered sitem-table">
                  <tbody>
                    <% unless @item.seller == current_user %>
                      <tr>
                        <th>Sold By :</th>
                        <td><%= link_to @item.seller.name, user_path(@item.seller) %></td>
                      </tr>
                    <% end %>
                    <tr>
                      <th>Name :</th>
                      <td><%= @item.name %></td>
                    </tr>
                    <tr>
                      <th>List Price :</th>
                      <td>$<%= format("%.2f", @item.price) %></td>
                    </tr>
                    <tr>
                      <th>Condition :</th>
                      <td><%= @item.condition %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <% unless @item.seller == current_user %>
                <%= link_to "Make Offer", new_offer_path({user: @item.seller_id, item: @item.id}), {class: 'btn btn-danger'}  %>
                <% if @item.conversation_exist?(current_user)%>
                  <% conversation_id = @item.convo_id(current_user)%>
                  <%= link_to "Contact Seller", conversations_path(), class: 'btn btn-default'  %>
                <% else %>
                  <%= link_to "Contact Seller", new_conversation_path({item_id: @item.id, user1_id: current_user.id, user2_id: @item.seller.id}), class: 'btn btn-default'  %>
                <% end %>
              <% end %>
            </div>            
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-md-pull-9 col-sm-pull-8">
        <div class="sidebar">
          <div class="s-widget">
            <h3>Other Items From: <%= @item.seller.name %></h3>
            <% @selleritems.each do |item| %>
              <div class="sw-content">
              <% if item != @item %>
                <a href="<%= user_item_path(item.seller, :id => item.id) %>"><%= image_tag item.product.url(:medium), :class => "img-responsive"%>
                </a>
                <a href="<%= user_item_path(item.seller, :id => item.id) %>">
                  <h4><%= item.name %></h4>
                </a>  
                <br>
                <span class="sw-price">$<%= format("%.2f", item.price) %></span>   
                <div class="clearfix"></div>           
              </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

