<div style="padding-left: 2%">
<%= link_to @item.community.name, root_path(@item.community) %> &#9830; &#9830; <%= link_to @category.name, root_path(@item.community) %>
</div>

<div class="col-sm-8">
<h1 style="text-align: left; font-weight: bold; font-size: 45px;"> <%= @item.name %> </h1>
  <div class="panel panel-default">
    <div class="panel-body">
      <img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="http://www.imore.com/sites/imore.com/files/styles/large/public/topic_images/2014/topic_ipad_air_ipad_mini_0.png?itok=053pCsJ2" data-holder-rendered="true" style="width: 400px; height: 400px;">
    </div>
  </div>

</div>

<br><br><br><br>

<div class="col-sm-4">
  <div class="panel panel-default" style="font-size: 20px;">
    <div class="panel-body">
      <p>
        <b>Sold By: </b><%= @item.seller.name %>
        <br>
          <p>
            <b>List Price: </b>$<%= @item.price %>
          </p>
          <p>
            <b>Condition: </b><%= @item.condition %>
          </p>
          <p>
            <b>Description: </b><%= @item.description %>
            </p>
      </p>
      <br>
      <%= link_to "Buy Now", root_path, {class: 'btn btn-primary'}  %>
      <br><br>
      <%= link_to "Contact Seller", root_path, {class: 'btn btn-info'}  %>
    </div>
  </div>
</div>



<%= render partial: 'otheritems' %>