<h1>Welcome, <%= current_user.name %></h1>

<%= link_to("Sell a new item", new_user_item_path(current_user)) %>

<%= @community.name %>
<br>

<br>
<br>
<% @items.each do |item| %>
  <div class="col-sm-4">
    <ul style="list-style-type: none;">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3>
        <%= link_to(item.name, user_item_path(current_user, :id => item.id)) %>
        </h3>
      </div>
      <div class="panel-body">
        <li><%= item.description %></li>
        <li>Contition: <%= item.condition %></li>
        <li>$<%= item.price %></li>
      </div>
    </div>
    </ul>
  </div>
<% end %>
