<div class="container">
<!-- drop down list of all categories -->
<%= render partial: 'categories/dropdown' %>
  <div class="row"  style="text-align: center">
    <h1>Welcome, <%= current_user.name %>.</h1>
  </div>
  <div  style="text-align: center">Here's what people are selling at <a href="/communities/info"><%= @community.name %></a>.</div> 
</div>
<br>
<%= form_tag('/items') do %> 
   <div>
   <%= text_field_tag :keyword%>  
   <%= submit_tag 'Search' %> 
   </div>
<% end -%>

<ul style="list-style-type: none">
  <% @items.each do |item| %>
    <%= render partial: 'items/community_item', locals: {item: item} %>
  <% end %>
</ul>
