<div class="top-bar">
  <div class="container">
    <div class="tb-contact pull-left">
      <!-- Email -->
      <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:thecampusbazaar@gmail.com" target="_blank">thecampusbazaar@gmail.com</a>
      &nbsp;&nbsp;  
    </div>
    <div class="tb-social pull-right">
      <div class="brand-bg text-right">
        <!-- Brand Icons -->
        <a href="https://www.facebook.com/theCampusBazaar" target="_blank" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
        <a href="https://twitter.com/theCampusBazaar" target="_blank" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>  
</div>

<div class="header-2">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Logo section -->
        <div class="logo">
          <h1><%= link_to 'CampusBazaar', root_path %></h1>
        </div>
      </div>
      <div class="col-md-8">  
              <!-- Navigation starts.  -->
        <div class="navy">    
          <ul>
          <% if current_user %>
            <!-- Main menu -->
            <li class="has-sub"><span class="submenu-button"></span><a href="#">Your Account</a>
              <!-- Submenu -->
              <ul>
                <li><%= link_to  "Edit Your Account", user_path(current_user) %></li>
                <li ><%= link_to("Messages", conversations_path) %></li>
                <li ><%= link_to('Sell an Item', new_user_item_path(:user_id => current_user.id)) %> </li>
                <li ><%= link_to('Manage Your Items', user_items_path(:user_id => current_user.id)) %> </li>
                <!-- 2nd Level sub menu -->
                 <% if current_user.seller? %>
                <li class="has-sub"><span class="submenu-button"></span>
                  <a href="#">Offers</a>
                  <ul>
                    <li><%= link_to('Offers Sent', offers_sent_path(current_user))%></li>
                    <li><%= link_to('Offers Received', offers_received_path(current_user))%></li>
                  </ul>
                </li>
                <% elsif current_user.buyer? %>
                  <li ><%= link_to('Offers Sent', offers_sent_path(current_user)) %> </li>
                <% end %>

              </ul>
            </li>              
            <li><%= link_to(" About this Project", about_path) %></li>
            <% end %>
        <% if current_user %>
          <li class="pull-right"><%= link_to "Logout", '/logout' %></li>
          <li class="pull-right"><%= link_to "|", '/' %></li>
          <li class="pull-right"><%= link_to "Signed in as #{current_user.name}", '/' %></li>
          <% else %>
          <li class="pull-right"><%= link_to 'Login', '/login' %></li>
          <li class="pull-right"><%= link_to "|", '/' %></li>
          <li class="pull-right"><%= link_to 'Signup', '/signup' %></li>
        <% end %>
          </ul>
        </div>              
         <!-- Navigation ends -->        
      </div>
      <div class="col-md-1">
        <!-- Search section -->
        <div class="head-search pull-right">
          <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
          <div class="b-dropdown-block">
            <%= form_tag('/items') do %> 
               <div>
               <%= text_field_tag :keyword%>  
               <%= submit_tag 'Search' %> 
               </div>
            <% end -%>



            <%#= form_tag "/items", :role => "form" do %>
              <!-- <div class="input-group"> -->
              <%#= text_field_tag :keyword, nil, :placeholder => "Search Here", :class =>"form-control", :name =>"keyword", :id =>"keyword" %>
              <!-- </div>
              <span class="input-group-btn"> -->
              <%#= submit_tag 'Search', :class => "btn btn-color btn-m", :name => "commit"%>
              <!-- </span> -->
            <%# end %>
          </div>
        </div>
        <!-- Search section ends -->
        <div class="clearfix"></div>        
      </div>
    </div>
  </div>
</div>
