<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= render partial: 'layouts/header'%>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="PADDING-TOP: 1px">
<div class="outer">
  <%= render partial: 'layouts/navbar'%>
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="main-block">
    <%= yield %>
  </div>
  <footer>
  <%= render 'layouts/footer' %>
  </footer>
</div>
  <span class="totop" style="display: block;"><a href="#"><i class="fa fa-angle-up bg-blue"></i></a></span>
</body>
</html>