<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= render partial: 'layouts/header'%>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="PADDING-TOP: 1px">
  <div class="outer">
    <%= render partial: 'layouts/navbar'%>
    <div class="main-block">
      <div id="content">
        <% if notice %>
        <div class="alert alert-success"><%= notice %></div>
        <% end %>

        <div class="container container-fluid">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <%= render 'layouts/footer' %>
  </div>
</body>

</html>