<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/header'%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body>

    <%= render partial: 'layouts/navbar'%>

    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>