<!DOCTYPE html>
<html>
<head>
  <%= render partial: 'layouts/header'%>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<div id="wrapper">
  <div id="content">

    <%= render partial: 'layouts/navbar'%>

    <% if notice %>
     <div class="alert alert-success"><%= notice %></div>
    <% end %>

    <div class="container container-fluid">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
  <%= render 'layouts/footer' %>
  </div>
  </div>
</body>
  
</html>