<!DOCTYPE html>
<html>
<head>
  <title>CampusBazaar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
      <%= link_to 'CampusBazaar', root_path, {class: "navbar-brand page-scroll"} %>
    </div>


<!-- Sell a new item onto NavBar. OnlY when logged in. -->

            <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
      <!-- Adds Sell a New Item Link to NAVBAR ONLY when a user is logged in. -->
      <% if current_user %>
      <li ><%= link_to('Sell a New Item', new_user_item_path(:user_id => current_user.id), {class: "navbar-brand page-scroll"} ) %> </li>
      <% end %>
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a> 
          </li>
            <% if current_user %>
             <li><%= link_to  "Signed in as #{current_user.name}", user_path(current_user) %></li>
             <li><a href="#">|</a></li>
             <li><%= link_to "Logout", '/logout' %></li>
            <% else %>
              <li><%= link_to 'Login', '/login' %></li>
               <li><a href="#">|</a></li> 
               <li><%= link_to 'Signup', '/signup' %></li>
            <% end %>
      </ul>
    </div>
  </div>
</nav>

<% if notice %>
  <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>